.submitBtn:hover {
    background-color: black;
}

@media screen and (max-width: 576px) {
    .contactForm {
        margin: 20px !important;
        padding: 0 !important;
        background-color: #eeeeee !important;
        border: 0 !important;
    }
    #formHeading {
        padding-inline: 20px !important;
    }
    .submitBtn {
        margin-top: 15px !important;
    }
}